@charset "UTF-8";

/*---------------------------------
  1.  common
---------------------------------*/

body {
  margin: 0;
  overflow-x: hidden;
  background: #fff;
}

.nst main section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.nst main img {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.nst main .inner {
  margin: 0 auto;
  padding: 0;
}


/*---------------------------------
  2.  pc/common
---------------------------------*/

@media screen and (min-width: 641px) {
  .nst .hidden-pc {
    display: none;
  }
  .nst .hidden-sp {
    display: block;
  }
  .nst main h3 {
    width: 960px;
    margin: 0 auto;
  }
  .nst main .inner {
    width: 960px;
  }
  /*---------------------------------
  7.  pc/#fv-c
---------------------------------*/
  .nst #fv-c .wrapper {
    height: 709px;
    margin: 0 auto;
    background: url(../img/bg_fv_h2_pc.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .nst #fv-c h2 {
    width: 1000px;
    margin: 0 auto;
  }
  /*---------------------------------
  7.  pc/#stakit-c
---------------------------------*/
  .nst #stakit-c .wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
  }
  .nst #stakit-c h2 {
    margin-top: -185px;
    position: relative;
    border: 3px solid #017bc2;
    border-bottom: none;
  }
  .nst #stakit-c h2::after {
    content: "";
    width: 162px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/tit_stakit_h2-logo_pc.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 2px;
    top: -26px;
  }
  .nst #stakit-c .inner {
    width: 1000px;
  }
  .nst #stakit-c .stakit_c_c5c, .nst #stakit-c .stakit_c_setp {
    border-left: 3px solid #017bc2;
    border-right: 3px solid #017bc2;
  }
  .nst #stakit-c .stakit_c_cta {
    border: 3px solid #017bc2;
    border-top: none;
    padding-top: 3.5%;
    padding-bottom: 2%;
  }
  .nst #stakit-c form {}
  .nst #stakit-c form .sel {
    margin-bottom: 5%;
    margin-left: 26%;
  }
  .nst #stakit-c form .sel div {
    margin-bottom: 4.5%;
  }
  .nst #stakit-c form .txt-label {
    display: inline-block;
    width: 90px;
    font-size: 15px;
    font-weight: bold;
  }
  .nst #stakit-c form select {
    display: inline-block;
    width: 41%;
  }
/*お試し*/

.nst #stakit-c form select select:not(:focus):invalid {
  color: #C7C7C7;
}


.nst #stakit-c form select {
  text-transform: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  font-size: 16px;
  outline: none;
}
.nst #stakit-c form select {
  position: relative;
  box-shadow: none;
  width: 47.5%;
}
  .nst #stakit-c form select {
  border: 2px solid #E6E6E6;
  border-radius: 0;
  font-weight: 400;
  color: inherit;
  padding: 7px 15px;
  line-height: normal;
  transition: border-color 0.2s ease, outline 0.2s ease;
}
.nst #stakit-c form .sel_color,
.nst #stakit-c form .sel_flavor,
.nst #stakit-c form .sel_number {
position: relative;
}
.nst #stakit-c form .sel_color::before,
 .nst #stakit-c form .sel_color::after,
 .nst #stakit-c form .sel_flavor::before,
 .nst #stakit-c form .sel_flavor::after,
 .nst #stakit-c form .sel_number::before,
 .nst #stakit-c form .sel_number::after{
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  border: 1px solid transparent;
  width: 0;
  height: 0;
  right: 260px;
}
.nst #stakit-c form .sel_color::before,
 .nst #stakit-c form .sel_color::after,
 .nst #stakit-c form .sel_flavor::before,
 .nst #stakit-c form .sel_flavor::after,
 .nst #stakit-c form .sel_number::before,
 .nst #stakit-c form .sel_number::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.nst #stakit-c form .sel_color::before,
.nst #stakit-c form .sel_flavor::before,
.nst #stakit-c form .sel_number::before {
  bottom: 54%;
  border-width: 0 6.5px 8px 6.5px;
  border-bottom-color: #D6D6D6;
}
.nst #stakit-c form .sel_color::after,
.nst #stakit-c form .sel_flavor::after,
.nst #stakit-c form .sel_number::after {
  border-width: 8px 6.5px 0 6.5px;
  border-top-color: #D6D6D6;
  top: 57%;
}









  .nst #stakit-c form .txt {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.5%;
  }
  .nst #stakit-c .btn {
    width: 90%;
    margin: 0 auto;
  }


  .nst #stakit-c .btn_tel_w {
    position: relative;
  }
  .nst #stakit-c .btn_tel_w::after {
    content: "";
    background-image: url(../img/common/icon_stakit_btn.png);
    background-size: contain;
    display: block;
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    top: 24%;
    margin-left: 36%;
  }

  .nst #stakit-c .btn_tel {
    background: linear-gradient( #027cc5, #7ebdde);
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: 4%;
  }
  .nst #stakit-c .btn_tel input {
    display: inline-block;
    width: 100%;
    padding-left: 40.5%;
    line-height: 143%;
    border-radius: 0.3em;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(#7ebdde 0%, #027cc5 100%);
    border: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
  }
  .nst #stakit-c .btn_tel input:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .nst #stakit-c .btn_cart {
    background: linear-gradient( #3da242, #75c646);
    border-radius: 0.3em;
    padding: 0.3em;
  }
  .nst #stakit-c .btn_cart input {
    display: inline-block;
    width: 100%;
    padding: 0.02em 1em;
    border-radius: 0.3em;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(#75c646 0%, #3da242 100%);
    border: 0;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
  }
  .nst #stakit-c .btn_cart input:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .nst #stakit-c.crt02 h2, .nst #stakit-c.crt03 h2 {
    margin-top: 0;
  }
  /*---------------------------------
  7.  pc/#ci_c
---------------------------------*/
  .nst #ci_c {
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(211, 231, 248, 1) 100%);
  }
  .nst #ci_c .wrapper {
    position: relative;
    height: 2167px;
    width: 1000px;
    padding-top: 5%;
    padding-bottom: 1%;
    /*Edge*/
    margin: 0 auto;
    margin-bottom: 5%;
  }
  .nst #ci_c h3 {
    width: 1000px;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 1%;
  }
  .nst #ci_c .inner {
    width: 95.7%;
    margin: 0 auto;
  }
  .nst #ci_c li {
    margin-left: 1%;
    background: url(../img/common/img_ci_allhanshin.png) no-repeat;
    background-size: 31%;
    background-position: top 53px left 34px;
    width: 84%;
  }
  .nst #ci_c .pinch, .nst #ci_c .recovery, .nst #ci_c .fight {
    background-position: top 79px left 34px;
  }
  .nst #ci_c li .img-txt {
    margin-top: 5.5%;
    margin-left: 5%;
    width: 100%;
  }
  .nst #ci_c .pinch .img-txt {
    width: 98.6%;
  }
  .nst #ci_c .recovery .img-txt {
    width: 96.5%;
  }
  .nst #ci_c .fight .img-txt {
    width: 89.8%;
  }
  .nst #ci_c .meet .img-txt {
    width: 50.3%;
  }
  .nst #ci_c .arrow-area {
    position: relative;
    width: 82%;
    height: auto;
    background: #FFF;
    margin-left: 19%;
    margin-top: 7%;
    padding: 3%;
    border: 2px solid #666;
    color: #666;
  }
  .nst #ci_c .arrow-area:after, .nst #ci_c .arrow-area:before {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 10px;
  }
  .nst #ci_c .arrow-area:after {
    border-width: 0 25px 12px 0;
    margin: 0 -4px 0 0;
    border-right-color: #FFFFFF;
  }
  .nst #ci_c .arrow-area:before {
    border-width: 0 29px 14px 0;
    margin: -2px 0 0 0;
    border-right-color: #666;
  }
  .nst #ci_c .arrow-area p {
    line-height: 152%;
    font-weight: bold;
    font-size: 17px;
  }
  .nst #ci_c .img_area {
    width: 91%;
    margin: auto;
    padding-top: 2.5%;
  }
  /*---------------------------------
  7.  pc/#rec_c
---------------------------------*/
  .nst #rec_c {
    padding-top: 3.5%;
  }
  .nst #rec_c .wrapper {
    width: 100%;
    height: auto;
    background: url(../img/bg_rec_pc.jpg) no-repeat;
    background-position: top 73px left -40px;
    background-size: 111%;
    position: relative;
    padding-top: 3.5%;
    padding-bottom: 6%;
  }
  .nst #rec_c .wrapper::after {
    content: "";
    width: 100%;
    height: 30%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(213, 232, 249, 1) 66%);
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  .nst #rec_c h3 {
    margin-bottom: 5.5%;
  }
  .nst #rec_c .inner {
    width: 1000px;
  }
  .nst #rec_c ul.img_area {
    margin-top: 6.6%;
    margin-bottom: 8%;
  }
  .nst #rec_c div.img_area {
    height: auto;
    margin: 0 auto;
    -moz-box-shadow: 9px 9px 7px -6px rgba(133, 145, 156, 0.8);
    -webkit-box-shadow: 9px 9px 7px -6px rgba(133, 145, 156, 0.8);
    -ms-box-shadow: 9px 9px 7px -6px rgba(133, 145, 156, 0.8);
    box-shadow: 9px 9px 7px -6px rgba(133, 145, 156, 0.8);
  }
  /*---------------------------------
  7.  pc/#fla_c"
---------------------------------*/
  .nst #fla_c {
    padding-top: 6%;
    margin-bottom: 8%;
  }
  .nst #fla_c h3 {
    margin-bottom: 2%;
  }
  .nst #fla_c ul.img_area {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  /*---------------------------------
  7.  pc/#contact
---------------------------------*/
  #contact {
    background: url(https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/contact_bg_pc.jpg) no-repeat;
    margin: 11% auto;
    height: 400px;
    width: 1000px;
    position: relative;
  }
  #contact .inner {
    margin: auto;
    width: 1000px;
  }
  #contact h2 {
    padding-top: 40px;
  }
  #contact h2, #contact p {
    line-height: 170%;
    margin: 0 0 20px 50px;
  }
  #contact img {
    width: auto;
  }
  #contact .aligncenter {
    color: #42210B;
    font-size: 19px;
    line-height: 170%;
    width: 420px;
    position: absolute;
    top: 280px;
    right: 30px;
  }
  .fon22 {
    font-size: 22px !important;
  }
  .aligncenter {
    text-align: center;
  }
  strong {
    font-weight: bold;
  }
  /*---------------------------------
  7.  pc/#info
---------------------------------*/
  #info.inner {
    margin: auto;
    width: 1000px;
    border: 4px solid #EFEAE7;
    box-sizing: border-box;
    margin: 70px auto 30px;
    position: relative;
  }
  #info h2 {
    width: 100%;
    position: absolute;
    top: -20px;
  }
  #info #info-inner {
    margin: 40px 40px 30px;
    width: 950px;
  }
  #info dl {
    font-size: 14px;
    width: 434px;
    float: left;
    margin-right: 30px;
  }
  #info dl:last-child {
    margin: 0px;
  }
  #info dt {
    background: #787674;
    color: #FFF;
    font-weight: bold;
    line-height: 28px;
    margin: 30px 0 10px;
    text-indent: 20px;
  }
  #info dd p {
    margin-bottom: 20px;
  }
  #info dl:last-child {
    margin: 0px;
  }
  #info img {
    width: auto;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
}


/*---------------------------------
  7.  sp/common
---------------------------------*/

@media screen and (max-width: 640px) {
  .hidden-sp {
    display: none;
  }
  .hidden-pc {
    display: block;
  }
  .nst main .inner {
    width: 100%;
  }
  .nst main section {
    min-width: 320px;
  }
  .nst main .wrapper {
    width: 100%;
  }
  .nst main h3 {
    width: 98%;
    margin: 0 auto;
  }
  /*---------------------------------
  7.  sp/#stakit-c
---------------------------------*/
  .nst #stakit-c .stakit_c_cta .sel {
    margin: 9% 0 13% 19vw;
  }
  .nst #stakit-c .stakit_c_cta .sel p {
    display: inline-block;
    font-size: calc(0.6875rem + ((1vw - 3.2px) * 1.875));
    font-weight: bold;
  }
  .nst #stakit-c .stakit_c_cta .sel_color, .nst #stakit-c .stakit_c_cta .sel_number, .nst #stakit-c .stakit_c_cta .sel_flavor {
    margin-bottom: 4%;
  }
  .nst #stakit-c .stakit_c_cta .txt-label {
    width: 24%;
  }
  .nst #stakit-c .stakit_c_cta .sel select {
    display: inline-block;
    width: 40%;
  }
  .nst #stakit-c .btn .txt {
    font-size: calc(0.6875rem + ((1vw - 3.2px) * 0.625));
    text-align: center;
    margin-bottom: 1%;
    margin-top:4%;
  }
  .nst #stakit-c .btn {
    width: 95%;
    margin: 0 auto;
    position: relative;
  }

  .nst #stakit-c .btn_tel_w::after {
    content: "";
    background: url(../img/common/icon_stakit_btn.png) no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: calc(1.125rem + ((1vw - 3.2px) * 3.75));
    height: calc(1.125rem + ((1vw - 3.2px) * 3.75));
    top: 60%;
    left: 32%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }


  .nst #stakit-c .btn_tel {
    background: linear-gradient( #027cc5, #7ebdde);
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: 1.5%;
  }
  .nst #stakit-c .btn_tel input {
    display: inline-block;
    width: 100%;
    border-radius: 0.3em;
    color: #fff;
    background-image: linear-gradient(#7ebdde 0%, #027cc5 100%);
    border: 0;
    font-size: calc(1.125rem + ((1vw - 3.2px) * 3.75));
    font-weight: bold;
    line-height: 133%;
    cursor: pointer;
    text-align: left;
    padding-left: 36%;
  }
  .nst #stakit-c .btn_tel input:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .nst #stakit-c .btn_cart {
    background: linear-gradient( #3da242, #75c646);
    border-radius: 0.3em;
    padding: 0.3em;
  }
  .nst #stakit-c .btn_cart input {
    display: inline-block;
    width: 100%;
    padding: 0.02em 1em;
    border-radius: 0.3em;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(#75c646 0%, #3da242 100%);
    border: 0;
    font-size: calc(1.9375rem + ((1vw - 3.2px) * 5.3125));
    font-weight: bold;
  }
  .nst #stakit-c .btn_cart input:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  /*---------------------------------
  7.  sp/#ci_c
---------------------------------*/
  .nst #ci_c {
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(211, 231, 248, 1) 100%);
    margin-bottom: 5%;
  }
  .nst #ci_c .wrapper {
    margin-top: 18%;
  }
  .nst #ci_c .inner {
    margin-top: 7%;
  }
  .nst #ci_c li {
    background: url(../img/common/img_ci_allhanshin.png) no-repeat;
    background-size: 45vw;
    background-position: top 13vw left 3vw;
    width: 100%;
    height: auto;
    margin-bottom: 7%;
  }
  .nst #ci_c li.pinch {
    background-position: top 17vw left 3vw;
  }
  .nst #ci_c li.recovery {
    background-position: top 17vw left 3vw;
  }
  .nst #ci_c li.fight {
    background-position: top 13vw left 3vw;
  }
  .nst #ci_c li.meet {
    background-position: top 8vw left 3vw;
  }
  .nst #ci_c li .img-txt {
    margin-left: 4%;
  }
  .nst #ci_c .reason .img-txt {
    width: 90vw;
  }
  .nst #ci_c .pinch .img-txt {
    width: 90vw;
  }
  .nst #ci_c .recovery .img-txt {
    width: 87vw;
  }
  .nst #ci_c .fight .img-txt {
    width: 87vw;
  }
  .nst #ci_c .meet .img-txt {
    width: 71vw;
  }
  .nst #ci_c .arrow-area {
    position: relative;
    width: 66%;
    height: auto;
    background: #FFF;
    margin-left: 25%;
    margin-top: 9%;
    padding: 3%;
    border: 2px solid #666;
    color: #666;
  }
  .nst #ci_c .arrow-area:after, .nst #ci_c .arrow-area:before {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 10px;
  }
  .nst #ci_c .arrow-area:after {
    border-width: 0 25px 12px 0;
    margin: 0 -4px 0 0;
    border-right-color: #FFFFFF;
  }
  .nst #ci_c .arrow-area:before {
    border-width: 0 29px 14px 0;
    margin: -2px 0 0 0;
    border-right-color: #666;
  }
  .nst #ci_c .arrow-area p {
    line-height: 170%;
    font-weight: bold;
    font-size: calc(0.625rem + ((1vw - 3.2px) * 2.1875));
  }
  .nst #ci_c .img_area {
    padding-bottom: 7%;
  }
  /*---------------------------------
  7.  sp/#rec_c
---------------------------------*/
  .nst #rec_c .wrapper {
    padding-top: 19%;
    padding-bottom: 14%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(213, 232, 249, 1) 66%);
  }
  .nst #rec_c ul {
    margin-bottom: 12.5%;
  }
  .nst #rec_c div.img_area {
    -moz-box-shadow: 0px 9px 6px -8px #828e99;
    -webkit-box-shadow: 0px 9px 6px -8px #828e99;
    -ms-box-shadow: 0px 9px 6px -8px #828e99;
    box-shadow: 0px 9px 6px -8px #828e99;
  }
  /*---------------------------------
  7.  sp/#fla_c
---------------------------------*/
  .nst #fla_c .wrapper {
    padding-top: 8%;
    padding-bottom: 9%;
  }
  .nst #fla_c ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
  }
  .nst #fla_c li {
    width: 50%;
    padding-top: 7%;
  }
  /*---------------------------------
  7.  sp/#contact
---------------------------------*/
  .nst #contact {
    background: url(https://bio-prd-public.s3.ap-northeast-1.amazonaws.com/lp/raffineealpha/img/contact_bg_sp.jpg) no-repeat;
    background-size: 100% auto;
    margin: auto;
    height: 70vw;
    width: 100%;
    position: relative;
    margin-top: 11%;
  }
  .nst #contact .inner {
    width: 100%;
    margin: auto;
  }
  .nst #contact h2 {
    padding-top: 3vw;
    margin-left: 3.5vw;
    margin-bottom: 2vw;
  }
  .nst #contact h2 img {
    width: 64vw;
  }
  .nst #contact h2, #contact p {
    line-height: 170%;
    margin: 0 0 20px 50px;
  }
  .nst #contact p {
    margin-left: 5vw;
    margin-bottom: 2vw;
    font-size: 3vw !important;
  }
  .nst #contact p img {
    width: 62vw;
  }
  .nst #contact .aligncenter {
    color: #42210B;
    font-size: 4vw;
    line-height: 170%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50vw;
    right: 0;
  }
  /*---------------------------------
  7.  sp/#info
---------------------------------*/
  .nst #info {
    width: auto;
    border: 4px solid #EFEAE7;
    box-sizing: border-box;
    margin: 5vw 2vw 2vw;
    position: relative;
  }
  .nst #info h2 {
    width: 100%;
    position: absolute;
    top: -20px;
  }
  .nst #info h2 img {
    width: 81vw;
  }
  .nst #info #info-inner {
    margin: 40px auto;
    width: 100%;
  }
  .nst #info .info-col {
    float: none;
    width: auto;
    margin: 0 2vw;
  }
  .nst #info dl {
    font-size: 14px;
    width: 434px;
    float: left;
    margin-right: 30px;
  }
  #info dt {
    background: #787674;
    color: #FFF;
    font-size: 3.5vw;
    font-weight: normal;
    text-shadow: 0 1px 0;
    line-height: 46px;
    margin: 30px 0 10px;
    text-indent: 20px;
  }
  #info dd {
    font-size: 3vw;
    line-height: 180%;
  }
  #info dl:last-child {
    margin: 0 2vw;
  }
  #info .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
}
